.print-mode-view {
	visibility: hidden;
	// padding: 0 2rem;

	&__content,
	&__header,
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;

		&--inner {
			width: 794px; // A4 width in px at 96dpi
			padding: 0 2rem;
		}
	}

	&__content {
		margin-top: 1rem;
	}

	&__header,
	&__footer {
		background: var(--gray-2);

		&--inner {
			display: flex;
			flex-direction: row;
		}
	}

	.section {
		&__title {
			display: flex;
			align-items: center;
			text-align: center;
			font-size: 1.5em;
			font-weight: 600;
			margin-bottom: 0.5em;

			&::before,
			&::after {
				content: '';
				flex: 1;
				border-bottom: 1px solid var(--gray-4);
			}

			&-icon {
				margin: 0 0.5em;
			}
		}
	}
}

@media print {
	/* hide EVERYTHING by default */
	body * {
		visibility: hidden !important;
	}

	/* show ONLY the print node */
	#print-root,
	#print-root * {
		visibility: visible !important;
	}

	/* ensure the print node takes full page space */
	#print-root {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}
}
