@use '@/styles/colors.scss';

.education {
	&__item {
		margin-bottom: 1.5em;

		&-institution {
			font-size: 1.3em;
			font-weight: 600;
			font-size: 1.1em;
		}

		&-degree {
			font-weight: 600;
			color: var(--gray-12);
			margin: 0.3em 0;
		}

		// TODO unify styles for all periods. Create a shared Period component?
		&-period {
			color: var(--gray-13);
			font-size: 0.9em;
		}
	}
}
