@import '@/styles/colors.scss';

.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.7em;
	color: var(--gray-8);
	border: none;
	z-index: 1;
	cursor: pointer;

	transition: opacity 0.3s ease-in-out;
	text-shadow: 0 0 5px rgba($color: var(--black), $alpha: 0.8);
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 2em;
	backdrop-filter: blur(5px) brightness(1.2) contrast(0.8);

	&--left {
		left: 0.2rem;
	}

	&--right {
		right: 0.2rem;
	}

	&:hover {
		color: var(--gray-2);
		backdrop-filter: blur(5px) brightness(0.8) contrast(1.2);
		border: 1px solid var(--gray-8);
	}
}
