.images {
	position: relative;
	width: 8em;
	height: 8em;
	overflow: hidden;
	border-radius: 100%;
	display: flex;
	flex-direction: row;
	overflow: hidden;

	&__image {
		position: absolute;
		width: 8em;
		height: 8em;

		img {
			max-width: 128px;
			max-height: 128px;
			width: auto;
			height: auto;
			object-fit: contain;
			display: block;
		}
	}
}
