:root {
	--prof-base: #d7f1ee;
	--prof-l1: #addeda;
	--prof-l2: #8fcfc8;
	--prof-l3: #76c7c0;
	--prof-l4: #4fb6ae;
	--prof-l5: #2a7e77;
	--prof-l6: #007f7f;

	// Add gray scale colors palette here TODO
	--white: #fff;
	--gray-1: #f5f5f5;
	--gray-2: #eee;
	--gray-3: #ddd;
	--gray-4: #ccc;
	--gray-5: #bbb;
	--gray-6: #aaa;
	--gray-7: #999;
	--gray-8: #888;
	--gray-9: #777;
	--gray-10: #666;
	--gray-11: #555;
	--gray-12: #444;
	--gray-13: #333;
	--gray-14: #222;
	--gray-15: #111;
	--black: #000;
}
