.experience {
	&__section {
		margin-bottom: 1.5rem;

		&-company {
			font-size: 1.2rem;
			font-weight: 700;
		}

		&-position {
			font-size: 1rem;
			font-weight: 600;
			margin-bottom: 0.3rem;
		}

		// TODO unify styles for all periods. Create a shared Period component?
		&-period {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			font-size: 0.9rem;
			color: var(--gray-13);
			margin-bottom: 0.5rem;
		}
	}
}
