@use '@/styles/colors.scss';

.app {
	&__content,
	&__header,
	&__footer {
		padding: 2rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		&--inner {
			width: 100%;
			max-width: 1100px;
			width: 100%;
			display: flex;
			flex-direction: row;
		}
	}

	&__content {
		margin-top: 1rem;
	}

	&__header,
	&__footer {
		background: var(--gray-2);
	}
}
