.personal-info {
	&__name {
		font-size: 1.5rem;
		font-weight: 900;
	}

	&__role {
		font-size: 1.2rem;
		font-weight: 600;
		color: #333;
	}

	&__bio {
		margin-top: 0.5rem;
		font-size: 1rem;
		line-height: 1.4;
	}

	&__address {
		margin-top: 0.3rem;
		font-size: 0.9rem;
	}

	&__contacts {
		font-size: 0.9rem;
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	&__social {
		margin-top: 1rem;
		display: flex;
		gap: 1rem;

		&-link {
			text-decoration: none;

			&:link {
				color: #444;
			}
			&:visited {
				color: #444;
			}
			&:active {
				color: #000;
			}

			&:hover {
				color: #000;
			}
		}
	}
}
