.experience {
	&__section {
		margin-bottom: 1.5rem;

		&-company {
			font-size: 1.3rem;
			font-weight: 700;
		}

		&-position {
			font-size: 1.2rem;
			font-weight: 600;
		}

		&-responsibilities,
		&-projects {
			margin-top: 0.5rem;

			&-heading {
				font-size: 1.1rem;
				margin-bottom: 0.3rem;
			}
		}

		&-responsibilities li {
			color: var(--gray-12);
			margin-left: 1.1rem;
			line-height: 1.2rem;
		}

		&-projects-heading {
			font-size: 1.1rem;
			background-color: transparent;
			border: none;
			padding: 0;
			cursor: pointer;

			&-icon {
				margin-left: 0.5rem;
				font-size: 0.9rem;
				transition: transform 0.5s ease-in-out;

				&--extended {
					transform: rotate(-90deg);
				}
			}
		}

		&-projects-section {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.5s ease-in-out;

			&--extended {
				max-height: 20rem;
			}
		}

		.project {
			margin-bottom: 0.3rem;

			&__name {
				color: var(--gray-12);
				font-size: 0.9rem;
			}

			&__description {
				font-size: 0.9rem;
				line-height: 1.4;
			}
		}
	}
}
