.experience {
	&__section {
		margin-bottom: 1.5rem;

		&-company {
			font-size: 1.3rem;
			font-weight: 700;
		}

		&-position {
			font-size: 1.2rem;
			font-weight: 600;
			// margin-bottom: 0.3rem;
		}

		&-responsibilities,
		&-projects {
			margin-top: 0.5rem;

			&-heading {
				font-size: 1.1rem;
				margin-bottom: 0.3rem;
			}
		}

		&-responsibilities li {
			color: var(--gray-12);
			margin-left: 1.1rem;
			line-height: 1.2rem;
		}

		.project {
			margin-bottom: 0.3rem;

			&__name {
				color: var(--gray-12);
				font-size: 0.9rem;
			}

			&__description {
				font-size: 0.9rem;
				line-height: 1.4;
			}
		}
	}
}
