@use '@/styles/colors.scss';

.left-column {
	min-width: 300px;
	padding-right: 2em;
	flex: 2;

	.section {
		&__title {
			display: flex;
			align-items: center;
			text-align: center;
			font-size: 1.5em;
			font-weight: 600;
			margin-bottom: 0.5em;

			&::before,
			&::after {
				content: '';
				flex: 1;
				border-bottom: 1px solid var(--gray-4);
			}

			&-icon {
				margin: 0 0.5em;
			}
		}
	}
}
