.personal-projects .project {
	margin-bottom: 1.2em;

	&__name {
		font-size: 1.2em;
		font-weight: 600;
		margin-bottom: 0.3em;
	}

	&__description {
		font-size: 1em;
		line-height: 1.4;
		margin-bottom: 0.5em;
	}

	&__technologies {
		font-size: 0.9em;
		color: var(--gray-12);
	}

	&__link {
		font-size: 0.9em;
		margin-top: 0.3em;
		color: var(--gray-4);

		&--demo {
			color: var(--blue-10);
		}
		&--repo {
			color: var(--green-10);
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}
