.project {
	&__name {
		font-size: 1.1em;
		color: var(--black);
		.fa-bookmark {
			font-size: 0.7em;
			margin-right: 0.5rem;
			margin-bottom: 0.1em;
			color: var(--gray-10);
		}
	}

	&__description,
	&__technologies,
	&__links {
		color: var(--gray-12);
	}

	&__description {
		font-size: 1em;
		line-height: 1.4;
	}

	&__technologies {
		font-size: 0.9em;

		.fa-paper-plane {
			font-size: 0.8em;
			margin-right: 0.5rem;
		}

		&-heading {
			font-size: 1em;
		}

		&-list {
			padding-left: 1em;
			display: flex;
			flex-wrap: wrap;

			&-item {
				font-size: 0.9em;
				margin-left: 2em;
			}
		}
	}

	&__links {
		font-size: 1em;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: var(--gray-10);

		.fa-link {
			font-size: 0.8em;
		}
	}

	&__link {
		font-size: 0.9em;
		color: var(--gray-12);
		margin-left: 3em;

		&--demo,
		&--repo {
			font-size: 0.8em;
			color: var(--gray-10);

			&:hover {
				color: var(--black);
			}

			&:visited {
				color: var(--gray-10);
			}
		}
	}

	&:last-child {
		margin-bottom: 0;
	}
}
